body {
  font-family: 'Arial', sans-serif;
  background-color: #e6e3e0;
  margin: 0;
  padding: 20px;
}

h1, h2 {
  text-align: center;
  color: #9a9b4f;
  font-family: "Gill Sans", sans-serif;
}

.search-container {
  display: flex; /* Usamos flexbox para alinear el input y el botón */
  justify-content: center; /* Centrar el contenido */
  margin: 20px 0; /* Espacio arriba y abajo */
}

.search-container input {
  padding: 10px;
  width: 300px; /* Ancho del campo de búsqueda */
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-right: 10px; /* Espacio entre el input y el botón */
}

.search-container button {
  padding: 10px 20px;
  background-color: #6d7962; /* Color de fondo */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.search-container button:hover {
  background-color: #9a9b4f; /* Cambio de color al pasar el ratón */
}

.product-card, .cart-item {
  display: flex; /* Cambiamos el display para alinear los elementos en fila */
  align-items: center; /* Para alinear verticalmente el contenido */
  background: rgb(199, 197, 197);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 600px; /* Establece un ancho fijo para los contenedores */
}

.product-card:hover, .cart-item:hover {
  transform: scale(1.05);
}

.product-list, .cart-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrar productos en la lista */
  list-style: none;
  padding: 0;
}

.product-list li, .cart-list li {
  margin: 10px;
}

.product-image {
  width: 25%; /* Ajusta el ancho de la imagen de los productos */
  border-radius: 8px;
  margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.cart-image {
  width: 15%; /* Ajusta el tamaño de la imagen del carrito */
  border-radius: 4px;
  margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.product-details, .cart-details {
  display: flex;
  flex-direction: column; /* Asegura que el texto esté alineado en columna */
}

button {
  background-color: #6d7962;
  margin: 10px 0; /* Espacio vertical entre botones */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #9a9b4f; /* Cambio de color al pasar el ratón */
}

.strike {
  text-decoration: line-through;
  color: #777;
}

/* Estilo para el contenedor del producto encontrado */
.searched-product {
  display: flex;
  flex-direction: column; /* Alinear verticalmente */
  align-items: center; /* Centrar horizontalmente */
  margin: 20px 0; /* Espacio arriba y abajo */
}

.searched-product .product-card {
  width: 600px; /* Mantener el mismo ancho que los otros productos */
  margin: 10px 0; /* Margen entre el producto encontrado y otros elementos */
}
